{% extends "home.html" %}
{% block about %}
<div >
    <h4 id='about'> This is a project by in which we implemented a Spotify recommendtion system that takes a playlist link as an input and outputs a list of song recommendations based on various audio features. To read more about about the main componets of this project, feel free to read the <a href="https://github.com/shivam360d/Novel_Song_Recommender/blob/main/README.md">readme file</a> </h3>
        <ul>
            <li> Extracting song data from Spotify’s API in Python (notebooks/Key_analysis.ipynb) </a></li>
            <li> EDA and Clustering (notebooks/cluster_analysis.ipynb) </a></li>
        </ul> 
</div>
{% endblock %}